---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "about me"

const identity = {
  firstName: "Jonathan",
  country: "Canada",
  occupation: "Laboratory Assistant",
  hobbies: ["photography","cooking","watching films"]
};

const skills = ["idiocracy", "tests"]

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "green";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout pageTitle={pageTitle}>
    <h1>about <i>me</i></h1>

        <p>I love film. And working on my photography practice. Also, some scientific things, too.</p>

        <ul>
          <li>My name is {identity.firstName}</li>
          <li>I live in {identity.country}</li>
          <li>This is a test: {identity.hobbies[0]}</li>
        </ul>
        <p>This is a list of things:</p>
        <ul>
          {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>

        {happy && <p>I am happy to be learning Astro!</p>}
        {finished && <p>I finished this tutorial!</p>}
        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
    <style define:vars={{skillColor, fontWeight, textCase}}>
        .skill {
          color: var(--skillColor);
          font-weight: var(--fontWeight);
          text-transform: var(--textCase);
        }
      </style>
</BaseLayout>